LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia ReactOS Build Environment"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Kolor tła", -1, 10, 10, 75, 12
  LTEXT "Kolor czcionki", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nPrzykładowy tekst", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "Pokaż czas budowania", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "Użyj CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "Usuń dane debugowania", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "Utwórz pliki nostrip dla debugowania", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "Pokaż wersje Headera", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "Ścieżka do MinGW/GCC", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "Zapisuj logi", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Zapisz", ID_OK, 63, 180, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Anuluj", ID_CANCEL, 133, 180, 59, 16, WS_TABSTOP
  CONTROL "Witamy!", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOG64 DIALOGEX DISCARDABLE  0, 0, 255, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia ReactOS AMD64 Build Environment"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Kolor tła", -1, 10, 10, 75, 12
  LTEXT "Kolor czcionki", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nPrzykładowy tekst", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "Pokaż czas budowania", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "Użyj CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "Usuń dane debugowania", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "Utwórz pliki nostrip dla debugowania", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "Pokaż wersje Headera", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "Ścieżka do MinGW/GCC", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "Zapisuj logi", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Zapisz", ID_OK, 63, 180, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Anuluj", ID_CANCEL, 133, 180, 59, 16, WS_TABSTOP
  CONTROL "Witamy!", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOGARM DIALOGEX DISCARDABLE  0, 0, 255, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia ReactOS ARM Build Environment"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Kolor tła", -1, 10, 10, 75, 12
  LTEXT "Kolor czcionki", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\nPrzykładowy tekst", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "Pokaż czas budowania", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "Użyj CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "Usuń dane debugowania", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "Utwórz pliki nostrip dla debugowania", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "Pokaż wersje Headera", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "Ścieżka do MinGW/GCC", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "Zapisuj logi", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Zapisz", ID_OK, 63, 180, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "Anuluj", ID_CANCEL, 133, 180, 59, 16, WS_TABSTOP
  CONTROL "Witamy!", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "Czarny"
  CLR1, "Niebieski"
  CLR2, "Zielony"
  CLR3, "Morski"
  CLR4, "Czerwony"
  CLR5, "Fioletowy"
  CLR6, "Żółty"
  CLR7, "Jasnoszary"
  CLR8, "Szary"
  CLR9, "Jasnoniebieski"
  CLR10, "Jasnozielony"
  CLR11, "Jasny morski"
  CLR12, "Jasnoczerwony"
  CLR13, "Jasnofioletowy"
  CLR14, "Jasnożółty"
  CLR15, "Biały"
  MSG_NOGCCFOUND, "Nie znaleziono MinGW/GCC! Sprawdź nazwę folderu."
  MSG_CMDFFAILED, "Nie udało się stworzyć pliku rosbe-options.cmd!"
  MSG_PS1FFAILED, "Nie udało się stworzyć pliku rosbe-options.ps1!"
  MSG_DIREFAILED, "Nie powiodło się stworzenie folderu!"
  MSG_SETLOADSUC, "Załadowano ostatnio zapisane ustawienia."
  MSG_FINDLOGDIR, "Proszę wybrać folder, gdzie zostaną zapisane dzienniki budowania:"
  MSG_FINDMGWDIR, "Proszę wskazać folder, w którym znajduje się MinGW/GCC:"
  MSG_WARNINGBOX, "Ostrzeżenie"
  MSG_EXITCHANGE, "Czy chcesz opuścić program bez zapisania zmian?"
  MSG_INVALIDDIR, "Podany folder nie istnieje. Czy chcesz go utworzyć?"
  /* Help Strings */
  HLP_BACKCOLORC, "Wybierz kolor tła dla RosBE DOS windows."
  HLP_FONTCOLORC, "Wybierz kolor czcionki dla RosBE DOS windows."
  HLP_SBUILDTIME, "Wyświetla całkowity czas budowania po jego zakończeniu."
  HLP_CCACHEUSED, "Zaznacz jeśli chcesz używać ccache (compiler cache)."
  HLP_STRIPEDEXE, "Zaznacz jeśli chcesz uzyskać mniejsze pliki wynikowe."
  HLP_FINDMGWDIR, "Tutaj możesz określić położenie MinGW/GCC."
  HLP_FINDLOGDIR, "Tutaj możesz określić miejsce, gdzie zostaną zapisane dzienniki budowania."
  HLP_SAVEBUTTON, "Przycisk aktywowany po zmianie ustawień, kończy działanie programu i zapisuje nowe ustawienia."
  HLP_QUITBUTTON, "Przycisk pozwala na wyjście bez zapisania ustawień."
  HLP_DEFAULTMSG, "Najedź na element, aby uzyskać pomoc."
  HLP_NOSTRIP,    "Utwórz informacje debugowania dla Debuggera ReactOS."
  HLP_VERSION,    "Pokaż wersje komponentów RosBE."
END
