/* Simplified Chinese translation by Henry Tang Ih 2015 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 生成环境设置"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "背景颜色", -1, 10, 10, 75, 12
  LTEXT "字体颜色", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n示例文本", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "显示生成时间", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "使用编译器缓存", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "带输出", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "创建不带文件以进行调试", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "显示版本页眉", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "路径到 MinGW/GCC", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "储存日志", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "储存", ID_OK, 63, 180, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "取消", ID_CANCEL, 133, 180, 59, 16, WS_TABSTOP
  CONTROL "欢迎!", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOG64 DIALOGEX DISCARDABLE  0, 0, 255, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS AMD64 生成环境设置"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "背景颜色", -1, 10, 10, 75, 12
  LTEXT "字体颜色", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n示例文本", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "显示生成时间", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "使用编译器缓存", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "带输出", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "创建非带文件以进行调试", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "显示版本页眉", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "路径到 MinGW/GCC", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "储存日志", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "储存", ID_OK, 63, 180, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "取消", ID_CANCEL, 133, 180, 59, 16, WS_TABSTOP
  CONTROL "欢迎!", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOGARM DIALOGEX DISCARDABLE  0, 0, 255, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS ARM 生成环境设置"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "背景颜色", -1, 10, 10, 75, 12
  LTEXT "字体颜色", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n示例文本", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "显示生成时间", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "使用编译器缓存", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "带输出", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "创建非带文件以进行调试", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "显示版本页眉", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "路径到 MinGW/GCC", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "储存日志", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "储存", ID_OK, 63, 180, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "取消", ID_CANCEL, 133, 180, 59, 16, WS_TABSTOP
  CONTROL "欢迎!", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "黑色"
  CLR1, "蓝色"
  CLR2, "青色"
  CLR3, "水色"
  CLR4, "红色"
  CLR5, "紫色"
  CLR6, "黄色"
  CLR7, "白色"
  CLR8, "灰色"
  CLR9, "浅蓝色"
  CLR10, "浅青色"
  CLR11, "浅水色"
  CLR12, "浅红色"
  CLR13, "浅紫色"
  CLR14, "浅黄色"
  CLR15, "亮白色"
  MSG_NOGCCFOUND, "没有 MinGW/GCC 发现!请检查您的目录。"
  MSG_CMDFFAILED, "创建 rosbe-options.cmd 失败!"
  MSG_PS1FFAILED, "创建 rosbe-options.ps1 失败!"
  MSG_DIREFAILED, "创建目录失败!"
  MSG_SETLOADSUC, "以前的设置已成功加载。"
  MSG_FINDLOGDIR, "请选择一个目录在哪里应该存储日志:"
  MSG_FINDMGWDIR, "请选择 MinGW/GCC 所在的目录:"
  MSG_WARNINGBOX, "警告"
  MSG_EXITCHANGE, "你确定你想要退出而不保存?"
  MSG_INVALIDDIR, "您输入的目录不存在。您想创建它吗?"
  /* Help Strings */
  HLP_BACKCOLORC, "选择 RosBE DOS 窗口背景颜色。"
  HLP_FONTCOLORC, "选择 RosBE DOS 窗口字体颜色。"
  HLP_SBUILDTIME, "允许您在生成的结尾显示总生成时间。"
  HLP_CCACHEUSED, "请检查您是否使用 ccache (编译器缓存)。"
  HLP_STRIPEDEXE, "检查如果你想产生剥离的可执行文件。"
  HLP_FINDMGWDIR, "此设置允许您定义 MinGW/GCC 所在的位置。"
  HLP_FINDLOGDIR, "此设置允许您定义保存生成日志的位置。"
  HLP_SAVEBUTTON, "激活设置更改时，它退出并保存设置。"
  HLP_QUITBUTTON, "此按钮允许您退出而不保存配置。"
  HLP_DEFAULTMSG, "悬停在控件可获取帮助。"
  HLP_NOSTRIP,    "创建电脑调试器的调试信息。"
  HLP_VERSION,    "显示 RosBE 组件的版本。"
END
