/*
 * PROJECT:     Config Tool for ReactOS Build Environment
 * LICENSE:     GNU General Public License v2. (see LICENSE.txt)
 * FILE:        tools/RosBE/RosBE-Windows/Tools/config/lang/zh-TW.rc
 * PURPOSE:     Chinese (Traditional) Language File for config
 * TRANSLATOR:  Elton Chung <elton328@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 竄?繡m?繫繒?糧]繡m"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "簫I織繙?C礎璽", -1, 10, 10, 75, 12
  LTEXT "礎r?矇?C礎璽", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n瞼?穡?瞻疇瞼罈", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "?瓊瞼?竄?繡m簧?繞癒", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "穡?瞼? CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "繕繫織簾聶矇瞼X", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "竄?瞼?翻?繡?瞼?穠繙瞼]繡???", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "?瓊瞼?穠穢瞼罈翹??Y", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC 穠繙繡繫簧|", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "?x礎s瞻矇罈x", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "禮籀禮簿 OBJ 穠繙瞼?聶羸", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "禮籀禮簿 OUT 穠繙瞼?聶羸", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "?x礎s", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "穡繳簧繪", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "?w穠簿癒I", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOG64 DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 竄?繡m?繫繒?糧]繡m - AMD64"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "簫I織繙?C礎璽", -1, 10, 10, 75, 12
  LTEXT "礎r?矇?C礎璽", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n瞼?穡?瞻疇瞼罈", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "?瓊瞼?竄?繡m簧?繞癒", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "穡?瞼? CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "繕繫織簾聶矇瞼X", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "竄?瞼?翻?繡?瞼?穠繙瞼]繡???", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "?瓊瞼?穠穢瞼罈翹??Y", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC 穠繙繡繫簧|", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "?x礎s瞻矇罈x", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "禮籀禮簿 OBJ 穠繙瞼?聶羸", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "禮籀禮簿 OUT 穠繙瞼?聶羸", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "?x礎s", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "穡繳簧繪", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "?w穠簿癒I", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOGARM DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 竄?繡m?繫繒?糧]繡m - ARM"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "簫I織繙?C礎璽", -1, 10, 10, 75, 12
  LTEXT "礎r?矇?C礎璽", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n瞼?穡?瞻疇瞼罈", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "?瓊瞼?竄?繡m簧?繞癒", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "穡?瞼? CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "繕繫織簾聶矇瞼X", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "竄?瞼?翻?繡?瞼?穠繙瞼]繡???", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "?瓊瞼?穠穢瞼罈翹??Y", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC 穠繙繡繫簧|", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "?x礎s瞻矇罈x", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "禮籀禮簿 OBJ 穠繙瞼?聶羸", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "禮籀禮簿 OUT 穠繙瞼?聶羸", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "?x礎s", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "穡繳簧繪", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "?w穠簿癒I", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "繞?礎璽"
  CLR1, "??礎璽"
  CLR2, "繙簽礎璽"
  CLR3, "瞻繫礎璽"
  CLR4, "竅繭礎璽"
  CLR5, "繕繕礎璽"
  CLR6, "繞?礎璽"
  CLR7, "瞼?礎璽"
  CLR8, "礎?礎璽"
  CLR9, "簡L??礎璽"
  CLR10, "簡L繙簽礎璽"
  CLR11, "簡L瞻繫礎璽"
  CLR12, "簡L竅繭礎璽"
  CLR13, "簡L繕繕礎璽"
  CLR14, "簡L繞?"
  CLR15, "竄G瞼?礎璽"
  MSG_NOGCCFOUND, "禮瓣瞻瞿穡穫 MinGW/GCC癒I 翻???竅d禮A穠繙瞼?聶羸癒C"
  MSG_CMDFFAILED, "繕L穠k糧?竄? rosbe-options.cmd癒I"
  MSG_PS1FFAILED, "繕L穠k糧?竄? rosbe-options.ps1癒I"
  MSG_DIREFAILED, "繕L穠k糧?竄?瞼?聶羸癒I"
  MSG_SETLOADSUC, "Previous settings loaded successfully."
  MSG_FINDLOGDIR, "翻?聶簿職?瞻@簫??x礎s瞻矇罈x穠繙瞼?聶羸癒G"
  MSG_FINDMGWDIR, "翻?聶簿職? MinGW/GCC 穢?礎穫穢籀穠繙瞼?聶羸癒G"
  MSG_FINDOBJDIR, "翻?聶簿職??x礎s OBJ ??簧?穠繙瞼?聶羸癒G"
  MSG_FINDOUTDIR, "翻?聶簿職??x礎s OUT ??簧?穠繙瞼?聶羸癒G"
  MSG_WARNINGBOX, "?繕禮i"
  MSG_EXITCHANGE, "簣z翻T穢w簫n礎b瞻瞿?x礎s瞻U簞h瞼X癒H"
  MSG_INVALIDDIR, "禮A穢?聶矇瞻J穠繙瞼?聶羸穡?瞻瞿礎s礎b癒C禮A簫n糧?竄?瞼礎繞?癒H"
  /* Help Strings */
  HLP_BACKCOLORC, "聶簿職? RosBE DOS 繕繪繕癒穠繙簫I織繙?C礎璽癒C"
  HLP_FONTCOLORC, "聶簿職? RosBE DOS 繕繪繕癒穠繙礎r?矇?C礎璽癒C"
  HLP_SBUILDTIME, "?羸禮A礎b竄?繡m禮繒繕簡簧??瓊瞼??`竄?繡m簧?繞癒癒C"
  HLP_CCACHEUSED, "礎p穠G禮A簫n穡?瞼? ccache (翻s?繞職繒翻w礎s)癒A翻?瞻?繒繙癒C"
  HLP_STRIPEDEXE, "礎p穠G禮A簫n罈s禮@繕繫織簾穠繙?糧瞼?繕{礎癒 癒A翻?瞻?繒繙癒C"
  HLP_FINDMGWDIR, "礎繒糧]繡m?羸禮A穢w繡q MinGW/GCC 穠繙礎穫繡m癒C"
  HLP_FINDLOGDIR, "礎繒糧]繡m?羸禮A穢w繡q竄?繡m瞻矇罈x穠繙?x礎s礎穫繡m癒C"
  HLP_FINDOBJDIR, "礎繒糧]繡m?羸禮A穢w繡q OBJ ??簧?穠繙?x礎s礎穫繡m癒C"
  HLP_FINDOUTDIR, "礎繒糧]繡m?羸禮A穢w繡q OUT ??簧?穠繙?x礎s礎穫繡m癒C"
  HLP_SAVEBUTTON, "繚穩糧]繡m糧Q禮籀禮簿簧?繚|糧Q簣?簞?癒A瞼礎繕簡禮繫瞻??x礎s糧]繡m癒C"
  HLP_QUITBUTTON, "礎繒竄繹繞s?羸禮A礎b瞻瞿?x礎s瞻U?繩繞}糧]繡m癒C"
  HLP_DEFAULTMSG, "簣N繚?繒竄簡職繒L簣簣穡簾繞繕瞼H穡繳簣o穡籀禮U癒C"
  HLP_NOSTRIP,    "竅簞 ReactOS 翻?繡?職繒竄?瞼?翻?繡?繡礙簞T癒C"
  HLP_VERSION,    "?瓊瞼? RosBE 瞻繡瞼籀穠繙穠穢瞼罈癒C"
END
