/*
 * PROJECT:     Config Tool for ReactOS Build Environment
 * LICENSE:     GNU General Public License v2. (see LICENSE.txt)
 * FILE:        tools/RosBE/RosBE-Windows/Tools/config/lang/zh-TW.rc
 * PURPOSE:     Chinese (Traditional) Language File for config
 * TRANSLATOR:  Elton Chung <elton328@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

ID_DIALOG DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS «?¸m?ô¹?³]¸m"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "­I´º?C¦â", -1, 10, 10, 75, 12
  LTEXT "¦r?é?C¦â", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n¥?¨?¤å¥»", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "?ã¥?«?¸m®?¶¡", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "¨?¥? CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "µô´î¿é¥X", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "«?¥?½?¸?¥?ªº¥]¸???", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "?ã¥?ª©¥»¼??Y", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC ªº¸ô®|", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "?x¦s¤é»x", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "§ó§ï OBJ ªº¥?¿ý", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "§ó§ï OUT ªº¥?¿ý", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "?x¦s", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "¨ú®ø", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "?wªï¡I", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOG64 DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS «?¸m?ô¹?³]¸m - AMD64"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "­I´º?C¦â", -1, 10, 10, 75, 12
  LTEXT "¦r?é?C¦â", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n¥?¨?¤å¥»", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "?ã¥?«?¸m®?¶¡", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "¨?¥? CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "µô´î¿é¥X", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "«?¥?½?¸?¥?ªº¥]¸???", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "?ã¥?ª©¥»¼??Y", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC ªº¸ô®|", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "?x¦s¤é»x", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "§ó§ï OBJ ªº¥?¿ý", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "§ó§ï OUT ªº¥?¿ý", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "?x¦s", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "¨ú®ø", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "?wªï¡I", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

ID_DIALOGARM DIALOGEX DISCARDABLE  0, 0, 255, 290
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS «?¸m?ô¹?³]¸m - ARM"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "­I´º?C¦â", -1, 10, 10, 75, 12
  LTEXT "¦r?é?C¦â", 0x0, 10, 27, 75, 12
  COMBOBOX IDC_BACK, 135, 10, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  COMBOBOX IDC_FONT, 135, 25, 100, 100, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
  CONTROL "\n\n¥?¨?¤å¥»", ID_EXAMPLE, "static", WS_CHILD | WS_VISIBLE | WS_TABSTOP | SS_CENTER, 113, 50, 125, 36
  CONTROL "?ã¥?«?¸m®?¶¡", ID_SHOWBUILDTIME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 45, 100, 12
  CONTROL "¨?¥? CCache", ID_USECCACHE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 100, 12
  CONTROL "µô´î¿é¥X", ID_STRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 75, 100, 12
  CONTROL "«?¥?½?¸?¥?ªº¥]¸???", ID_NOSTRIP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 90, 145, 12
  CONTROL "?ã¥?ª©¥»¼??Y", ID_SHOWVERSION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 90, 100, 12
  LTEXT "MinGW/GCC ªº¸ô®|", -1, 10, 107, 100, 15
  EDITTEXT ID_MGWDIR, 10, 120, 200, 13, WS_TABSTOP
  PUSHBUTTON "...", ID_BROWSEMGW, 215, 120, 30, 13, WS_TABSTOP
  CONTROL "?x¦s¤é»x", ID_SAVELOGS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 143, 100, 12
  EDITTEXT ID_LOGDIR, 10, 156, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSE, 215, 156, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "§ó§ï OBJ ªº¥?¿ý", ID_OTHEROBJ, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 178, 100, 12
  EDITTEXT ID_OBJDIR, 10, 192, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOBJ, 215, 192, 30, 13, WS_TABSTOP | WS_DISABLED
  CONTROL "§ó§ï OUT ªº¥?¿ý", ID_OTHEROUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 100, 12
  EDITTEXT ID_OUTDIR, 10, 228, 200, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "...", ID_BROWSEOUT, 215, 228, 30, 13, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "?x¦s", ID_OK, 63, 250, 59, 16, WS_TABSTOP | WS_DISABLED
  PUSHBUTTON "¨ú®ø", ID_CANCEL, 133, 250, 59, 16, WS_TABSTOP
  CONTROL "?wªï¡I", ID_STATUSBAR, "msctls_statusbar32", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 275, 255, 15
END

STRINGTABLE
BEGIN
  CLR0, "¶?¦â"
  CLR1, "??¦â"
  CLR2, "ºñ¦â"
  CLR3, "¤ô¦â"
  CLR4, "¬õ¦â"
  CLR5, "µµ¦â"
  CLR6, "¶?¦â"
  CLR7, "¥?¦â"
  CLR8, "¦?¦â"
  CLR9, "²L??¦â"
  CLR10, "²Lºñ¦â"
  CLR11, "²L¤ô¦â"
  CLR12, "²L¬õ¦â"
  CLR13, "²Lµµ¦â"
  CLR14, "²L¶?"
  CLR15, "«G¥?¦â"
  MSG_NOGCCFOUND, "§ä¤£¨ì MinGW/GCC¡I ½???¬d§Aªº¥?¿ý¡C"
  MSG_CMDFFAILED, "µLªk³?«? rosbe-options.cmd¡I"
  MSG_PS1FFAILED, "µLªk³?«? rosbe-options.ps1¡I"
  MSG_DIREFAILED, "µLªk³?«?¥?¿ý¡I"
  MSG_SETLOADSUC, "Previous settings loaded successfully."
  MSG_FINDLOGDIR, "½?¿ï¾?¤@­??x¦s¤é»xªº¥?¿ý¡G"
  MSG_FINDMGWDIR, "½?¿ï¾? MinGW/GCC ©?¦ì©óªº¥?¿ý¡G"
  MSG_FINDOBJDIR, "½?¿ï¾??x¦s OBJ ??®?ªº¥?¿ý¡G"
  MSG_FINDOUTDIR, "½?¿ï¾??x¦s OUT ??®?ªº¥?¿ý¡G"
  MSG_WARNINGBOX, "?µ§i"
  MSG_EXITCHANGE, "±z½T©w­n¦b¤£?x¦s¤U°h¥X¡H"
  MSG_INVALIDDIR, "§A©?¿é¤Jªº¥?¿ý¨?¤£¦s¦b¡C§A­n³?«?¥¦¶?¡H"
  /* Help Strings */
  HLP_BACKCOLORC, "¿ï¾? RosBE DOS µøµ¡ªº­I´º?C¦â¡C"
  HLP_FONTCOLORC, "¿ï¾? RosBE DOS µøµ¡ªº¦r?é?C¦â¡C"
  HLP_SBUILDTIME, "?ý§A¦b«?¸m§¹µ²®??ã¥??`«?¸m®?¶¡¡C"
  HLP_CCACHEUSED, "¦pªG§A­n¨?¥? ccache (½s?¶¾¹½w¦s)¡A½?¤?¹º¡C"
  HLP_STRIPEDEXE, "¦pªG§A­n»s§@µô´îªº?³¥?µ{¦¡ ¡A½?¤?¹º¡C"
  HLP_FINDMGWDIR, "¦¹³]¸m?ý§A©w¸q MinGW/GCC ªº¦ì¸m¡C"
  HLP_FINDLOGDIR, "¦¹³]¸m?ý§A©w¸q«?¸m¤é»xªº?x¦s¦ì¸m¡C"
  HLP_FINDOBJDIR, "¦¹³]¸m?ý§A©w¸q OBJ ??®?ªº?x¦s¦ì¸m¡C"
  HLP_FINDOUTDIR, "¦¹³]¸m?ý§A©w¸q OUT ??®?ªº?x¦s¦ì¸m¡C"
  HLP_SAVEBUTTON, "·í³]¸m³Q§ó§ï®?·|³Q±?°?¡A¥¦µ²§ô¤??x¦s³]¸m¡C"
  HLP_QUITBUTTON, "¦¹«ö¶s?ý§A¦b¤£?x¦s¤U?÷¶}³]¸m¡C"
  HLP_DEFAULTMSG, "±N·?¹«²¾¹L±±¨î¶µ¥H¨ú±o¨ó§U¡C"
  HLP_NOSTRIP,    "¬° ReactOS ½?¸?¾¹«?¥?½?¸?¸ê°T¡C"
  HLP_VERSION,    "?ã¥? RosBE ¤¸¥óªºª©¥»¡C"
END
